# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dataset
# =========================
dataset/

# =========================
# Generated outputs
# =========================
output/

# =========================
# Python packaging
# =========================
*.egg-info/
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / secrets
# =========================
.env
.env.*